#mouse {
    display: inline-block;
    cursor: pointer;
    margin: 0;
  }

  #mouse:focus {
    outline: 1px dashed black;
  }

  td select,
  td input {
    width: 150px;
  }

  #diagram td {
    vertical-align: bottom;
    text-align: center;
    padding: 10px;
  }

  #diagram div {
    margin: auto;
  }

  
#prompt-form {
  display: inline-block;
  padding: 5px 5px 5px 70px;
  width: 200px;
  border: 1px solid black;
  background: white ;
  vertical-align: middle;
}

#prompt-form-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
}

#prompt-form-container:before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

#cover-div {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.3;
}

#prompt-form input[name="text"] {
  display: block;
  margin: 5px;
  width: 180px;
}